@font-face {
  font-family: "SUIT Variable";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/SUIT-Variable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "SUIT";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/SUIT-Variable.woff2") format("woff2-variations");
}
