@import "tailwindcss";
@source "../../../../packages/ui/src/**/*.{ts,tsx}";

@import "@pf-dev/ui/globals.css";

body {
  font-family:
    "Pretendard Variable",
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
