@import "tailwindcss";

@theme {
  --breakpoint-qhd: 2560px;
  --breakpoint-4k: 3840px;
  --header-height: 3.75rem;
  --footer-height: 2.1875rem;
}

html {
  font-size: 16px;
}

@media (min-width: 2560px) {
  html {
    font-size: 21.33px;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 32px;
  }
}

@source "../../../../packages/ui/src/**/*.{ts,tsx}";

@import "@pf-dev/ui/globals.css";

.dashboard-grid > div {
  grid-template-columns: repeat(24, minmax(0, 1fr)) !important;
  grid-template-rows: repeat(24, minmax(0, 1fr)) !important;
  overflow: hidden;
}

@keyframes marquee {
  0% {
    left: 100%;
    transform: translateX(0);
  }
  100% {
    left: 0;
    transform: translateX(-100%);
  }
}

@theme {
  --animate-marquee: marquee 15s linear infinite;
}
