@font-face {
  font-family: "DSEG7 Classic";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/DSEG7Classic-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "DSEG14 Classic";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/DSEG14Classic-Regular.woff2") format("woff2");
}
